/*
 * Basic design overrides, keep it simple
 */
pre { padding: var(--spacing-gutter); }
code { color: unset; }
h3, h4, h5, h6 { color: unset; }

/*
 * Nav styles
 */
body > nav {
    background-color: var(--background); 
    position: sticky; 
    top: 0;
}

/*
 * Footer styles
 */
body > footer {
    background-color: var(--muted-background);
    padding: var(--spacing-block) 0;
}

body > footer *:last-child {
    margin-bottom: 0;
}

/*
 * We don't need mucho padding on top of <main class="container">
 * when it immediately follows <header class="container">, since the
 * latter already has lots of padding at the end
 */
header.container + main.container {
    padding-top: 0;
}

/*
 * Key line at top of sidebar
 */
main .grid aside hgroup {
    border-top: solid 1px;
    padding-top: 0.5em;
}

/*
 * Utility classes
 */
.big { font-size: 1.5em; }
.pull-quote { font-size: 1.25em; }

/*
 * Basic flexbox-based grid for things like photos page.
 */
.flex-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: -1em 0 0 -1em;
}

.flex-grid-item {
    flex: 0 0 50%;
    padding: 1em 0 0 1em;
}

/*
 * Media Queries
 */
@media ( min-width: 576px ) {
    .big { font-size: 1.75em; }
}

@media ( min-width: 768px ) {
    .big { font-size: 2em; }
    .pull-quote { font-size: 1.5em; }
    .flex-grid-item { flex: 0 0 33%; }
}

@media ( min-width: 992px ) {
    /*
    * Allow for a sidebar-style grid layout when space allows.
    */
    main .grid {
        grid-column-gap: var(--spacing);
        grid-template-columns: auto 33%;
    }

    main .grid section + aside {
        padding-left: var(--spacing-gutter);
    }
}

/*
 * Animations
 */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/*
 * Staggered fade-in for photo grid; handles 24 items max for now
 */
.fade-in {
    animation: fadeIn 1.5s;
    animation-fill-mode: backwards;
}

/* The one thing CSS still doesn't have is a for loop... */
.fade-in--1 { animation-delay: calc( 0.1s * 1 );}
.fade-in--2 { animation-delay: calc( 0.1s * 2 );}
.fade-in--3 { animation-delay: calc( 0.1s * 3 );}
.fade-in--4 { animation-delay: calc( 0.1s * 4 );}
.fade-in--5 { animation-delay: calc( 0.1s * 5 );}
.fade-in--6 { animation-delay: calc( 0.1s * 6 );}
.fade-in--7 { animation-delay: calc( 0.1s * 7 );}
.fade-in--8 { animation-delay: calc( 0.1s * 8 );}
.fade-in--9 { animation-delay: calc( 0.1s * 9 );}
.fade-in--10 { animation-delay: calc( 0.1s * 10 );}
.fade-in--11 { animation-delay: calc( 0.1s * 11 );}
.fade-in--12 { animation-delay: calc( 0.1s * 12 );}
.fade-in--13 { animation-delay: calc( 0.1s * 13 );}
.fade-in--14 { animation-delay: calc( 0.1s * 14 );}
.fade-in--15 { animation-delay: calc( 0.1s * 15 );}
.fade-in--16 { animation-delay: calc( 0.1s * 16 );}
.fade-in--17 { animation-delay: calc( 0.1s * 17 );}
.fade-in--18 { animation-delay: calc( 0.1s * 18 );}
.fade-in--19 { animation-delay: calc( 0.1s * 19 );}
.fade-in--20 { animation-delay: calc( 0.1s * 20 );}
.fade-in--21 { animation-delay: calc( 0.1s * 21 );}
.fade-in--22 { animation-delay: calc( 0.1s * 22 );}
.fade-in--23 { animation-delay: calc( 0.1s * 23 );}
.fade-in--24 { animation-delay: calc( 0.1s * 24 );}


/*
 * Syntax Highlighting
 */
.highlight .c1 { color: var(--code-color-5); }                 /* comments */
.highlight .n, .highlight .nb { color: var(--h3); }            /* variable names */
.highlight .k, .highlight .kv { color: var(--code-color-2); }  /* language keywords */
.highlight .no { color: var(--code-color-2); }                 /* object names */
.highlight .nf, .highlight .fm { color: var(--code-color-3); } /* method/function names */
.highlight .ss { color: var(--code-color-3); }                 /* symbols */
.highlight .kp { color: var(--code-color-3); }                 /* booleans */
.highlight .s2 { color: var(--h6); }                           /* strings */
.highlight .o { color: var(--code-color-4); }                  /* operators */
