<nav class="container">
    <ul>
        <li>
            <strong>
            <%= link_to "ericgardner.info", "/" %>
            </strong>
        </li>
    </ul>
    <ul>
        <li><%= link_to "Photos", "/photos.html"%></li>
        <li><%= link_to "Work", "/work"%></li>
        <li><%= link_to "Notes", "/notes"%></li>
    </ul>
</nav>