<% wrap_layout :layout do %>
    <main class="container">
        <header>
            <hgroup>
                <h1><%= current_page.data.title %></h1>
                <h6>
                    <% if current_page.data.date %>
                    <time datetime="<%= current_page.data.date %>">
                        <%= format_date current_page.data.date %>
                    </time>
                    <% end %>
                </h6>
            </hgroup>
        </header>

        <%= yield %>
    </main>
<% end %>