---
title: Welcome to Middleman
layout: cover
---
<p class="big">
I’m Eric, a programmer and designer based in Portland, Oregon. I work as a
software engineer at the <%=link_to "Wikimedia Foundation",
"https://wikimediafoundation.org" %>. I believe that software should exist in
the service of knowledge and that technology should empower instead of
control. Occasionally I <%= link_to "write things", "/notes" %>.
</p>

<p class="big">
My other interests include <%= link_to "analog and digital photography,",
"https://flickr.com/eric-gardner/" %> bicycling, and <%= link_to "social
justice", "https://portlanddsa.org/" %>.
</p>